#bg-egor {
	left: 0;
	top: 0;
	padding: 0;
	border: 0;
	margin: 0;
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: -2;
}
#bg-egor div{
	border: 0;
	padding: 0;
	position: absolute;
	width: 100px;
	height: 150px;
	left: 500px;
	top: 10px;
	background: url('egor.png');
	display: block;
	z-index: 0;
	transform-origin: 50% 50%;
}